body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(36, 100%, 99%);
}
@font-face {
  font-family: myfont;
  src: url("./font/Inter-VariableFont_slnt\,wght.ttf");
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: myfont;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
