.main_image_holder{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.heading{
    width: 100%;
    height: 4rem;
    padding: 1.5rem;
}
.heading h1::first-letter{
    font-size: 2.5rem;
    color: hsl(35, 77%, 62%);
}
.heading h1{
    font-size: 2rem;
    color: rgba(0, 0, 0, .4);
}
.image_card_conatainer{
    margin-top: 1.5rem;
    width: 100%;
    height: 83vh;
    overflow-y: auto;
}
.image_card_conatiner_2{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
}
#infinte_loader{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}